@charset "UTF-8";
/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; }

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #EEE;
  border-radius: 10px;
  border-left: 1px solid #CCC; }

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #00AEF0;
  border-radius: 10px; }

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #717171; }

/* ---------->>> BASE <<<-----------*/
body {
  margin: 0;
  background-color: #3D3E3F; }

.graficos {
  width: 774px;
  height: 447px;
  overflow: auto; }

h1 {
  font-family: Arial;
  color: #ddd;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  padding: 20px 0;
  width: 100px;
  float: right; }
  h1 span {
    color: #00AEF0;
    font-weight: bolder;
    font-size: 12px; }

/* ---------->>> GR├üFICO BARRA CARGO <<<-----------*/
.graficbar-cargo {
  width: 700px;
  height: 450px; }
