.xc-container {
	position: absolute;
	overflow: hidden;
}
.xc-container-overlay {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.xc-container-dynamicInvisible {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	position: static;
}
.xc-rootCanvas {
/* we have to comment the below position style to fix BOEVISUAL-8113 on iPad(iOS 6) and Android device */
	/*position: absolute;*/
	overflow: hidden;
}
.xc-rootcanvas-background-image {
	width: 100%;
	height:100%;
	pointer-events: none;
	position: absolute;
}
.xc-checkbox , .xc-checkbox-title, .xc-checkbox-el-checked, .xc-checkbox-input, .xc-checkbox-mask{
	position: absolute;
}
.xc-checkbox-title {
	padding-left: 2px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 5px;
	white-space: pre;
}
.xc-checkbox-el {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: transparent;
	border: none;
}
.xc-checkbox-el-checked {
	margin: 0px;
	width: 45%;
	height: 78%;
	right: 65%;
	bottom: 22%;
	-webkit-transform: rotate(50deg) skew(5deg);
	-moz-transform: rotate(50deg) skewX(5deg);
	-ms-transform: rotate(50deg) skew(5deg, 0deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	border: 1px #ffffff solid;
	-webkit-box-shadow: 1px 1px 0px rgba(77,77,77,1);
	box-shadow: 1px 1px 0px rgba(77,77,77,1);
	color: #d9d9d9;
	border-top: none;
	border-left: none;
}
.xc-checkbox-input {
	border: 1px rgba(0,0,0,0.5) solid;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -1px 1px 2px rgba(0,0,0,0.5) inset, -1px 1px 0px rgba(255,255,255,0.11);
	box-shadow: -1px 1px 2px rgba(0,0,0,0.5) inset, -1px 1px 0px rgba(255,255,255,0.11);
	pointer-events: none;
}
.xc-checkbox-mask {
	left: 0;
	top: 0;
}

.xc-combo-list {
	position: absolute;
	padding: 1px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	min-width: 0;
	min-height: 0;
	border-radius: 7px;
	pointer-events: auto;
}

.xc-radiogroup
{
    position: absolute;
}

.xc-radiogroup-title {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.xc-radiogroup-bordor {
    position: absolute;
    background-color:#ffffff;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2) inset, -1px 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2) inset, -1px 1px 1px rgba(255, 255, 255, 0.3);
    border:solid 1px rgba(0, 0, 0, 0.25);
    overflow:hidden;
}

.xc-radiogroup-item {
    position: absolute;
    overflow: hidden;
}

.xc-radiobutton-input-container{
    position: absolute;
    background-color:#ffffff;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.08), inset -1px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.08), inset -1px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    top:50%;
}

.xc-radiobutton-input {
    opacity:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25%;
}

.xc-radiobutton-input:checked {
    opacity:1;
    position: absolute;
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px 1px 0px rgba(255, 255, 255, 0.05);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px 1px 0px rgba(255, 255, 255, 0.05);
    background-color:#344b6d;
    background-image:-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0.15) 100%);
    background-image:-moz-linear-gradient(bottom, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0.15) 100%);
}

.xc-radiobutton-label {
    position: absolute;
    white-space: nowrap;
    color: #000000;
    font-size:12px;
    overflow:hidden;
    padding-top:1px;
    padding-bottom:5px;
    padding-right:5px; 
    top:50%;
}

.xc-icon {
    position: absolute;
}

.xc-icon-VD {
    position: absolute;
}

.xc-group {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: visible;
}
.xc-slider > .x-fullscreen {
	background:none
}

.x-xc-verticalSliderCore {
	position:absolute;
	width:2.2em;
	top:10px;
	bottom:10px;
	min-height:0;
	min-width:0
}

.x-xc-verticalSliderCore.x-item-disabled{
	opacity:.6
}

.x-xc-verticalThumb {
	position:absolute;
}

.x-xc-limitValue {
	position:absolute;
	font-size:0.6em;
	color:gray;
	padding: 3px 3px 4px 3px;
	white-space: pre;
}

.x-xc-title {
	position:absolute;
	font-size:1em;
	white-space: pre;
	padding: 3px 3px 4px 3px;
}

.x-xc-valueDiv {
	position:absolute;
	font-size:1em;
	white-space: pre;
	padding: 3px 3px 4px 3px;
}

.x-xc-playButton
{
	background-image:-webkit-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.396) 100%);
	opacity:1;
	border:solid 1px #888;
}

.xc-verticalSlider-thumbCore {
		content:"";
	position:absolute;
	background-color:#dddddd;
	/*background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #efefef), color-stop(100%, #cbcbcb));
	background-image:-webkit-linear-gradient(#ffffff,#efefef 2%,#cbcbcb);
	-webkit-box-shadow:inset rgba(255, 255, 255, 0.5) 0 0 0.1em, inset rgba(255, 255, 255, 0.3) 0 -0.1em 0;*/
	-webkit-background-clip:padding;
	background-clip:padding;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3)
}

.xc-verticalSlider-thumbCoreGradients {
	content:"";
	position:absolute;
	background-image:-webkit-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.396) 100%);
	background-image:-moz-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.396) 100%);
	opacity:1;
	-webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.5);  
    box-shadow:inset 1px 1px 1px rgba(255,255,255,0.5);
}

.xc-verticalSlider-thumbCoreHighLight{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1),
				    inset 0 1px 1px rgba(255,255,255,.5),
				    inset 0 -2px 2px rgba(0,0,0,.6),
				    inset 0 -2px 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 1px rgba(0,0,0,1),
				    inset 0 1px 1px rgba(255,255,255,.5),
				    inset 0 -2px 2px rgba(0,0,0,.6),
				    inset 0 -2px 2px rgba(255,255,255,.3);
}

/*
.x-xc-verticalThumb.x-dragging {
	opacity:1
}

.x-xc-verticalThumb.x-dragging:before {
	background-color:#d0d0d0;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #e2e2e2), color-stop(100%, #bebebe));
	background-image:-webkit-linear-gradient(#ffffff,#e2e2e2 2%,#bebebe)
}*/

/*.x-xc-verticalSliderCore:after {
	content:"";
	position:absolute;
	width: 0.8em;
  	height: auto;
  	top: 0;
  	left: 0.737em;
  	right: 0.737em;
  	bottom: 0;
  	margin: 0.925em 0;
  	background-color:#dddddd;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(10%, #d0d0d0), color-stop(65%, #dddddd), color-stop(100%, #dedede));
	background-image:-webkit-linear-gradient(#c4c4c4,#d0d0d0 10%,#dddddd 65%,#dedede);
	background-image:linear-gradient(#c4c4c4,#d0d0d0 10%,#dddddd 65%,#dedede);
	border:0.1em solid rgba(0, 0, 0, 0.1);
	border-bottom:0;
	-webkit-box-shadow:rgba(255, 255, 255, 0.7) 0 0.1em 0;
	-webkit-border-radius:0.4em;
	border-radius:0.4em
}*/

.x-xc-horizontalSliderCore {
	position:relative;
	height:2.2em;
	/*top:10px;
	bottom:10px;*/
	min-height:0;
	min-width:0
}

.x-xc-horizontalSliderCore.x-item-disabled{
	opacity:.6
}

.x-xc-horizontalThumb {
	position:absolute
}

.xc-horizontalSlider-thumbCore {
	content:"";
	position:absolute;
	background-color:#dddddd;
	/*background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #efefef), color-stop(100%, #cbcbcb));
	background-image:-webkit-linear-gradient(#ffffff,#efefef 2%,#cbcbcb);
	-webkit-box-shadow:inset rgba(255, 255, 255, 0.5) 0 0 0.1em, inset rgba(255, 255, 255, 0.3) 0 -0.1em 0;*/
	-webkit-background-clip:padding;
	background-clip:padding;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3)

}

.xc-horizontalSlider-thumbCoreGradients {
	content:"";
	position:absolute;
	background-image:-webkit-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.396) 100%);
	background-image:-moz-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.396) 100%);
	opacity:1;
	-webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.5);  
    box-shadow:inset 1px 1px 1px rgba(255,255,255,0.5);
    
}
.xc-horizontalSlider-thumbCoreHighLight{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1),
				    inset 0 1px 1px rgba(255,255,255,.5),
				    inset 0 -2px 2px rgba(0,0,0,.6),
				    inset 0 -2px 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 1px rgba(0,0,0,1),
				    inset 0 1px 1px rgba(255,255,255,.5),
				    inset 0 -2px 2px rgba(0,0,0,.6),
				    inset 0 -2px 2px rgba(255,255,255,.3);
}
.x-xc-track {
	content:"";	
	position:absolute;
	border-bottom:0;	
	-webkit-box-shadow:rgba(255, 255, 255, 0.7) 0 2 0;
	box-shadow:rgba(255, 255, 255, 0.7) 0 2 0;
	background-color:#dddddd;
 	
}
.xc-horizontalSlider-trackMask
{
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50%);
	background-image:-moz-linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50%);
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); 
	-moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); 
	box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
}

.xc-verticalSlider-trackMask
{
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50%);
	background-image:-moz-linear-gradient(left,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50%);
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); 
	-moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); 
	box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
}
.xc-HProgressBar-trackMask
{
	-webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);  
}

.xc-VProgressBar-trackMask
{
	-webkit-box-shadow: inset 2px 0 6px rgba(0,0,0,0.5); 
	box-shadow: inset 2px 0 6px rgba(0,0,0,0.5);
}
.xc-ProgresBar-thumbCore
{
	position:absolute;
}
.xc-progressbar-alertbackground
{
	position:absolute;
}

.xc-tooltip {  
    position:absolute;
    font-size:15px;
    text-align:center;
    vertical-align:middle;  
    padding:9px;
    white-space:nowrap;
    overflow:hidden;
} 

.xc-listBox-labelItemStyle{
	padding: 4px 3px 5px 3px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	background-clip: padding-box;
}

.xc-html-listbox {
	position : absolute;
	overflow : hidden;
}

.xc-listbox {
	position : absolute;
}

.xc-listbox-title {
	position : absolute;
	white-space: nowrap;
	padding: 2px 3px 4px 2px;
}

.xc-htmlButton-buttonEl {
	position : absolute;
	padding : 0px;
	background-clip : padding-box;
}

.xc-htmlButton-labelEl {
	position : absolute;
	overflow : hidden;
	width : 100%;
	height : 100%;
	top : 0px;
	left : 0px;
	text-overflow : ellipsis;
	white-space : nowrap;
}

.xc-htmlComboBox {
	overflow : hidden;
}

.xc-htmlComboBox-selectEl {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.xc-htmlComboBox-labelEl {
	pointer-events : none;
	position : absolute;
	top : 0px;
	left : 0px;
	right : 0px;
	bottom : 0px;
	border : solid 1px rgba(0, 0, 0, 0.5);
	border-radius : 5px;
	overflow : hidden;
	opacity : 1.0;	
	padding-left : 12px;
	word-break : break-all;
	background-clip : padding-box;
}

.xc-htmlComboBox-arrowBoxEl {
	pointer-events : none;
	position : absolute;
	right : 6px;
	top : 6px;
	color : #FFFFFF;
	opacity : 0.6;
	text-shadow : rgba(0, 0, 0, 0.5) -1px -1px 1px, rgba(0, 0, 0, 0.3) 0px -1px 1px;
}

.xc-htmlCombox-labelUnFocus{
	background-image : -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	background-image : -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	box-shadow :  inset -1px 1px 0px rgba(255, 255, 255, 0.1);
}

.xc-htmlCombox-labelFocus {
	background-image : -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image : -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	box-shadow : inset -2px 2px 5px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.46);
}

.xc-ComboBox {
	position : absolute;
}

.xc-comboBox-title {
	position : absolute;
	overflow : hidden;
	text-overflow : clip;
	white-space : nowrap;
	padding: 2px 3px 4px 2px;
}
