/* ---------->>> BASE <<<-----------*/

body{
	margin:0;
	background-color:#3D3E3F;
}

.graficos{
	width:718px;
	height:450px;
	margin: 0 auto;
}

h1{
  	font-family: Arial;
  	color: #ddd;
  	font-size: 11px;
  	text-transform: uppercase;
  	font-weight: normal;
  	text-align: center;
	padding: 20px 0;
	width: 100px;
	float: right;

	  span{
	  	color:#00AEF0;
	  	font-weight: bolder;
	  	font-size:12px;
	  }
}

/* ---------->>> IOS <<<-----------*/
.ios{
	width:100%;
	position:relative;
	float:left;
	margin: 23px 0;
}

.ios-grafic{
	float:left;
	width:500px;
	height:100px;
}

.icon-ios{
	 float:left;
	 width: 100px;
	 height:100px;
}

/* ---------->>> ANDROID <<<-----------*/
.android{
	@extend .ios;
}

.android-grafic{
 	@extend .ios-grafic;
}

.icon-android{
	@extend .icon-ios;
}

/* ---------->>> WEB <<<-----------*/
.web{
	@extend .ios;
}
.web-grafic{
 	@extend .ios-grafic;
}

.icon-web{
	@extend .icon-ios;
}