@charset "UTF-8";
/* ---------->>> BASE <<<-----------*/
body {
  margin: 0;
  background-color: #3D3E3F; }

.graficos {
  width: 718px;
  height: 450px; }

h1 {
  font-family: Arial;
  color: #ddd;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  padding: 20px 0;
  width: 100px;
  float: right; }
  h1 span {
    color: #00AEF0;
    font-weight: bolder;
    font-size: 12px; }

/* ---------->>> GR├üFICO BARRA CARGO <<<-----------*/
.graficbar-cargo {
  width: 700px;
  height: 450px; }
