.tabs {
    position: relative;
	margin: 40px auto;
	width: 790px;
	height: 400px
}

.tabs a{
	text-decoration: none;
	color:#ddd;
}

.tabs iframe{
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	background-color:#333333;
}

.link-ativo{
	background-color:#00AEF0!important;;
}


.tabs-input {
	position: absolute;
	z-index: 1000;
	width: 132px;
	height: 40px;
	left: 20px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 170px;
}
.tabs input#tab-3{
	left: 310px;
}
.tabs input#tab-4{
	left: 450px;
}

.tabs input#tab-5{
	left: 580px;
}

.tabs input#tab-6{
	left: 720px;
}

.tabs input#tab-7{
	left: 860px;
}
.tabs input#tab-8{
	left: 990px;
}

.tabs-label {
	background: #333;
	border: 2px solid #ddd;
	font-size: 11px;
	line-height: 31px;
	height: 35px;
	position: relative;
	padding: 0;
    float: left;
	display: block;
	width: 132px;
	color: #ddd;
	text-transform: uppercase;
	font-weight: none;
	text-align: center;
	left: 29px;
	margin-right: 13px;
}

.tabs-label:after {
    content: '';
	background: none;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs-input:hover + label {
	background: #00aef0;
	text-shadow: 0 0 1px rgba(3, 141, 193, 0.9);
}

.tabs-label:first-of-type {
    z-index: 5;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 7;
}

.tab-label-3 {
    z-index: 6;
}

.tab-label-4 {
    z-index: 5;
}

.tab-label-5 {
    z-index: 4;
}
.tab-label-6 {
    z-index: 3;
}
.tab-label-7 {
    z-index: 2;
}
.tab-label-8 {
    z-index: 1;
}

.tabs input.tab-selector-1:checked + label,
.tabs input.tab-selector-2:checked + label ,
.tabs input.tab-selector-3:checked + label ,
.tabs input.tab-selector-4:checked + label ,
.tabs input.tab-selector-5:checked + label ,
.tabs input.tab-selector-6:checked + label ,
.tabs input.tab-selector-7:checked + label ,
.tabs input.tab-selector-8:checked + label {
    background: #00aef0;
	z-index: 6;
	text-shadow: 0 0 1px rgba(3, 141, 193, 0.9);
}

.clear-shadow {
	clear: both;
}

.content {
	position: relative;
	top: -22px;
    width: 100%;
	height: 450px;
	z-index: 0;
	border-top: 2px dotted #ddd;
}

.content section {
    position: absolute;
	top: 25px;
	left: 0;
	padding: 0;
	z-index: 1;
	height: 450px;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4,
.tabs input.tab-selector-5:checked ~ .content .content-5,
.tabs input.tab-selector-6:checked ~ .content .content-6,
.tabs input.tab-selector-7:checked ~ .content .content-7,
.tabs input.tab-selector-8:checked ~ .content .content-8
{
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
	width: 780px;
	height: 450px;
	box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.9);
	background: #fff;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}